@inject IPollService _pollService
@inject ILogger<CreatePollForm> _logger
@implements IDisposable

<div class="form-div">

    <div class="error" style="display: @( duplicateOptions ? "block" : "none");"> * Duplicate options are not allowed * </div>

    <div class="form-field">
        <label>Question ❔</label>
        <input class="form-control input" id="question" @bind="@poll.Question" @bind:event="oninput"/>
        <div class="error" style="display: @( string.IsNullOrWhiteSpace(poll.Question) && questionLengthBad ? "block" : "none");"> * Required * </div>
    </div>

    <div class="option-btn-container">
        <Button 
            ClassType="add-option" 
            HandleClick="AddOption">
            <span class="plus"> ➕ </span> 
                Option 
        </Button>
    </div>

    <ul class="options">
        @foreach(var pollOption in poll.OptionsList)
        {
            <li>
                <div class="form-field">
                    <div style="margin-left: 2em;">
                        <label>Option #️ @(poll.OptionsList.IndexOf(pollOption) + 1) </label>
                        <Button 
                            Disabled="@(poll.OptionsList.Count < 3)" 
                            ClassType="remove" 
                            HandleClick="(() => RemoveOption(pollOption))"> 
                            ❌ 
                        </Button>
                    </div>
                    <input class="form-control input" @bind="poll.OptionsList[poll.OptionsList.IndexOf(pollOption)].PollOptionName" @bind:event="oninput"/>
                    <div class="error" style="display: @(string.IsNullOrWhiteSpace(pollOption.PollOptionName) && optionLengthBad ? "block" : "none")">* Required *</div>
                </div>
            </li>
        }
    </ul>
    <div class="form-field time-field">

        <div class="time">
            <label>🕰️ Limit</label>
            <select style="color: @(noTimeLimit ? "#aaa" : "#000")" class="form-control" @bind="poll.TimeLimit" disabled="@noTimeLimit"> 
                <option value="@TimeSpan.FromMinutes(1)">1 min</option>
                <option value="@TimeSpan.FromMinutes(5)">5 min</option>
                <option value="@TimeSpan.FromMinutes(15)">15 min</option>
                <option value="@TimeSpan.FromMinutes(30)">30 min</option>
                <option value="@TimeSpan.FromHours(1)">1 hour</option>
                <option value="@TimeSpan.FromHours(1.5)">1.5 hours</option>
                <option value="@TimeSpan.FromHours(2)">2 hours</option>
                <option value="@TimeSpan.FromHours(3)">3 hours</option>
                <option value="@TimeSpan.FromHours(4)">4 hours</option>
                <option value="@TimeSpan.FromHours(6)">6 hours</option>
                <option value="@TimeSpan.FromHours(6)">8 hours</option>
                <option value="@TimeSpan.FromHours(12)">12 hours</option>
                <option value="@TimeSpan.FromHours(18)">18 hours</option>
                <option value="@TimeSpan.FromDays(1)">1 Day</option>
                <option value="@TimeSpan.FromDays(2)">2 Days</option>
                <option value="@TimeSpan.FromDays(3)">3 Days</option>
                <option value="@TimeSpan.FromDays(4)">4 Day</option>
                <option value="@TimeSpan.FromDays(5)">5 Days</option>
                <option value="@TimeSpan.FromDays(6)">6 Days</option>
                <option value="@TimeSpan.FromDays(7)">7 Days</option>
            </select>
            <div class="checkbox-container">
                <label class="checkbox-label">No Limit</label>
                <input class="checkbox-input" type="checkbox" @bind="@noTimeLimit" />
            </div>
        </div>

        <div class="time">
            <label>Start 🕰️</label>
            <input style="color: @(startImmediately ? "#aaa" : "#000")" disabled="@startImmediately" class="form-control start input" type="datetime-local" @bind="poll.StartTime" max="2023-07-01T00:00" />
            <div class="checkbox-container">
                <label class="checkbox-label">Start Now</label>
                <input class="checkbox-input" type="checkbox" @bind="@startImmediately"/>
            </div>
        </div>

    </div>

    <Button ClassType="secondary" UseMouseEventArgs="true" HandleClickWithMouseArgs="((mouseArgs) => ShowModal(mouseArgs))"> Create Poll </Button>
</div>

@code {
    [Parameter]
    public EventCallback HandleAdd { get; set; }

    [CascadingParameter]
    public UserModel LoggedInUser { get; set; }

    [CascadingParameter]
    public ModalWrapper ModalWrapperComponent { get; set; }

    bool optionLengthBad;
    bool questionLengthBad;
    bool duplicateOptions;
    bool startImmediately = true;
    bool noTimeLimit = true;

    PollModel poll = new()
    {
        OptionsList = new()
        {
            new PollOptionModel(),
            new PollOptionModel()
        },
        StartTime = DateTime.Now,
        TimeLimit = TimeSpan.FromSeconds(0)
    };

    protected override void OnInitialized() =>
        ModalWrapperComponent.OnModalClosed += ModalWrapperComponent_ModalClosed;

    public async void ModalWrapperComponent_ModalClosed()
    {
        await HandleSubmit();
    }

    public void Yill()
    {
        _logger.LogInformation("YOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO");   
    }

    public void ShowModal(MouseEventArgs mouseArgs)
    {
        ResetBooleans();

        ValidatePollData();

        if (CheckValidationResults()) return;

        var ParameterArguments = new Dictionary<string, object>
        {
            { "CreatedPoll" , poll },
            { "LinkCopied", false },
            { "PollIdCopied", false }
        };

        ModalWrapperComponent.ShowModal(mouseArgs, typeof(PollLinkInfo), ParameterArguments, false);
    }

    public async Task HandleSubmit()
    {
        SetPollData();

        await _pollService.AddPoll(poll);

        poll = new()
        {
            OptionsList = new()
            {
                new PollOptionModel(),
                new PollOptionModel()
            },
            StartTime = DateTime.Now,
            TimeLimit = TimeSpan.FromSeconds(0)
        };

        await HandleAdd.InvokeAsync();
    }

    private void ValidatePollData()
    {
        if (string.IsNullOrWhiteSpace(poll.Question)) questionLengthBad = true;

        foreach(var pollOption in poll.OptionsList)
        {
            if (poll.OptionsList.Contains(poll.OptionsList.Where(po => po.PollOptionName == pollOption.PollOptionName
                && po.PollOptionId != pollOption.PollOptionId).FirstOrDefault()!)) { duplicateOptions = true; }

            if(string.IsNullOrWhiteSpace(pollOption.PollOptionName)) optionLengthBad = true;
        }
    }

    private void SetPollData()
    {
        if(startImmediately)
        {
            poll.HasStarted = true;
            poll.StartTime = DateTime.Now;
        }
        poll.TimeLimit = noTimeLimit ? null : poll.TimeLimit;
        poll.PollCreatorId = LoggedInUser.UserId;
    }

    private void RemoveOption(PollOptionModel pollOption)
    {
        if (poll.OptionsList.Count > 2)
            poll.OptionsList.Remove(pollOption);
    }

    private void ResetBooleans()
    {
        optionLengthBad = false;
        questionLengthBad = false;
        duplicateOptions = false;
    }

    private void AddOption() => poll.OptionsList.Add(new PollOptionModel() { PollOptionId = Guid.NewGuid() });

    private bool CheckValidationResults() => questionLengthBad || optionLengthBad || duplicateOptions;

    public void Dispose() =>
        ModalWrapperComponent.OnModalClosed -= ModalWrapperComponent_ModalClosed;
}

<style>

    .plus {
        margin: 0;
        
    }

    .checkbox-input {
        transform: scale(1.5);
        margin: 0 .5em;
        accent-color: #BF40BF;
    }

    .checkbox-container {
        
    }

    .checkbox-label {
        font-size: .75em;
        margin: .5em .25em;
    }

    option {
        font-size: .75em;
    }

    .option-btn-container {
        position:absolute;
        right: 21%;
    }

    .start {
        font-size: .75em;
        height: 40px;
        padding-top: .5em;
    }

    select {
        border-radius: 6px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
        border: none;
        height: 40px;
    }

    .time {
        width: 25%;
        margin-bottom: 1em;
    }

    .time-field {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
    }

    .error {
        color: #d91b42;
        font-weight: 700;
        font-size: 12px;
        margin-top: .25em;
    }

    .form-div {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .form-field {
        margin: .5em auto;
        color: #aaa;
        font-size: 18px;
    }

    .input {
        width: 100%;
        border-radius: 6px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
        border: none;
    }

    label {
        margin: 10px auto;
        text-align: left;
    }

    .options {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

</style>