@inject IPollService _pollService
@inject NavigationManager _nav

<Card>
    <div class="poll">
        <h3>@Poll.Question</h3>
        <p>Total Votes: @GetTotalVotes(Poll.OptionsList)</p>
        @foreach (var option in Poll.OptionsList)
        {
            <div class="option-container">
            <Tooltip Text="@(Poll.UsersVoted.Contains(LoggedInUser.UserId) && 
                    option.PollOptionUsersVoted.Contains(LoggedInUser.UserId) ? $"Undo Vote {option.PollOptionName}" : Poll.UsersVoted.Contains(LoggedInUser.UserId) ? "You've Already Voted" : $"Vote {option.PollOptionName}")" 
                    BgColor="#BF40BF">

                    <div @onclick="(() => VoteForOption(Poll, option))" class="answer">
                        <div class="percent @(Poll.OptionsList.IndexOf(option) % 2 == 0 ? "percent-even" : "percent-odd")" style="width: @(GetPercentage(option.PollOptionVotes, GetTotalVotes(Poll.OptionsList)))%"></div>
                        <span class="percent-block">
                            <div> @option.PollOptionName | @option.PollOptionVotes votes </div> 
                            <div style="color: @(Poll.OptionsList.IndexOf(option) % 2 == 0 ? "#d91b42" : "#45c496")">@(GetPercentage(option.PollOptionVotes, GetTotalVotes(Poll.OptionsList)))%</div> 
                        </span>
                    </div>
                </Tooltip>
            </div>
        }
    </div>
    <div class="delete-details">
        @if(Poll.PollCreatorId == LoggedInUser.UserId)
        {
            <Button 
                Disabled="@(Poll.PollCreatorId != LoggedInUser?.UserId)" 
                HandleClick="(() => DeletePoll(Poll))">
                Delete
            </Button>
        }
        <Button 
            HandleClick="(() => GoToPollDetailsPage(Poll.PollId))" 
            ClassType="secondary"> 
            Details 
        </Button>
    </div>
    @switch (Poll.IsComplete)
    {
        case false:
            <CountDownTimer Poll="@Poll"/>
            break;
        case true:
            <div class="timer">
                <p class="finished">Poll Finished</p>
            </div>
            break;
    }
</Card>

@code {
    [CascadingParameter]
    public PollModel Poll { get; set; }

    [CascadingParameter]
    public UserModel LoggedInUser { get; set; }

    private decimal GetPercentage(int votes, int totalVotes)
    {
        if (totalVotes == 0) return 0;
        return Math.Round((100 / (decimal)totalVotes * votes), 2);
    }

    private int GetTotalVotes(List<PollOptionModel> pollOptions)
    {
        int total = 0;

        foreach (var option in pollOptions)
        {
            total += option.PollOptionVotes;
        }

        return total;
    }

    private void GoToPollDetailsPage(Guid pollId)
    {
        _nav.NavigateTo($"/polls/{pollId}");
    }

    private async Task VoteForOption(PollModel poll, PollOptionModel pollOption)
    {
        //if (poll.IsComplete || !poll.HasStarted || poll.PollCreatorId == LoggedInUser.UserId) 
        //    return;

        if (poll.IsComplete || !poll.HasStarted)
            return;

        if (poll.UsersVoted.Contains(LoggedInUser.UserId) 
            && pollOption.PollOptionUsersVoted.Contains(LoggedInUser.UserId))
        {
            await UndoVote(poll, pollOption);
            return;
        }

        if (poll.UsersVoted.Contains(LoggedInUser.UserId)) return;

        poll.UsersVoted.Add(LoggedInUser.UserId);

        pollOption.PollOptionUsersVoted.Add(LoggedInUser.UserId);

        poll.OptionsList[poll.OptionsList.IndexOf(pollOption)].PollOptionVotes++;

        await _pollService.UpdatePoll(poll);
    }

    private async Task UndoVote(PollModel poll, PollOptionModel pollOption)
    {
        poll.UsersVoted.Remove(LoggedInUser.UserId);

        pollOption.PollOptionUsersVoted.Remove(LoggedInUser.UserId);

        poll.OptionsList[poll.OptionsList.IndexOf(pollOption)].PollOptionVotes--;

        await _pollService.UpdatePoll(poll);
    }

    public void DeletePoll(PollModel poll)
    {
        if (poll.PollCreatorId != LoggedInUser.UserId
            || DateTime.Now < poll.StartTime + poll.TimeLimit) return;

        _pollService.RemovePoll(poll);
    }
}

<style>

    .option-container {
        position: relative;
    }

    .finished {
        position: absolute;
        bottom: 0;
        right: 30px;
    }

    .option-votes {
        display: flex;
        justify-content: space-between;
    }

    .poll {
        margin-bottom: 3em;
    }

    .delete-details {
        text-align: center;
        position: absolute;
        bottom: 10px;
        display:flex;
        justify-content: space-between;
    }

    h3 {
        margin: 0 auto;
        color: #555;
    }

</style>
